<div class="container-fluid">
  <div class="row">
    <div class="col-12 content">
      <span>{{title}} app is running!</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-2 content">
      <img class="img img-fluid" src="../assets/images/logo.png" alt="logo" />
    </div>
  </div>
  <hr class="my-1">
  <div class="row">
    <div class="col-12 content">
      <img class="img img-fluid w-100" src="../assets/images/portada.png" alt="logo" />
    </div>
  </div>
  <hr class="my-1">
  <app-vehiculos></app-vehiculos>
  <div class="row">
    <div class="col-12 content text-center">
      <p class="text-center">Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</p>
    </div>
  </div>
</div>
